# Read historical NAV information from AMF website

https://www.amfiindia.com/nav-history-download

Sample Historical NAV download URL:
#http://portal.amfiindia.com/DownloadNAVHistoryReport_Po.aspx?mf=22&frmdt=19-Mar-2020&todt=19-Jun-2020

In [13]:
import numpy as np
import pandas as pd
from datetime import date

In [16]:
#Start date is w
start_date = date(2018,9,1)
curr_date = date.today()

In [26]:
#AMC List. Key is AMC code that is used in constructing URL. Value is AMC Name. 
AMC_list = {'3' : 'Aditya Birla Sun Life Mutual Fund',
            '9' : 'HDFC Mutual Fund',
            '17' : 'Kotak Mahindra Mutual Fund',
            '20' : 'ICICI Prudential Mutual Fund',
            '22' : 'SBI Mutual Fund',
            '27' : 'Franklin Templeton Mutual Fund',
            '45' : 'Mirae Asset Mutual Fund'
            '56' : 'L&T Mutual Fund'
           }

In [53]:
#Mutual Fund list. Key is Scheme Code in AMF extract. Value is Mutual Fund name as it is in Kuvera extract
MF_code_name_list = {'120705' : 'Aditya Birla Sun Life Regular Saving Growth Direct Plan',
                     '119016' : 'HDFC Short Term Debt Growth Direct Plan',
                     '120166' : 'Kotak Standard Multicap Growth Direct Plan',
                     '120586' : 'ICICI Prudential Bluechip Growth Direct Plan',
                     '120603' : 'ICICI Prudential All Seasons Bond Growth Direct Plan',
                     '119812' : 'SBI Magnum Low Duration Growth Direct Plan',
                     '119824' : 'SBI Magnum Medium Duration Growth Direct Plan',
                     '123169' : 'SBI Debt Series C 34 Growth Direct Plan',
                     '107249' : 'Franklin India Ultra Short Bond Super Institutional Growth Direct Plan',
                     '147973' : 'Franklin India Ultra Short Bond Super Institutional Segregated Portfolio 1 8 25% Vodafone Idea Ltd 10jul20 Growth Direct Plan',
                     '118825' : 'Mirae Asset Large Cap Growth Direct Plan',
                     '134813' : 'Mirae Asset Hybrid Equity Growth Direct Plan',
                     '119807' : 'L&T Midcap Growth Direct Plan'
                    }

In [71]:
#Extract only MF codes to apply filter on AMF response dataset
MF_list = list(MF_code_name_list.keys())
MF_list

['120705',
 '119016',
 '120166',
 '120586',
 '120603',
 '119812',
 '119824',
 '123169',
 '107249',
 '147973',
 '118825',
 '134813',
 '119807']

In [103]:
def get_nav_history(amc_code,start,end,MF_list):
    #http://portal.amfiindia.com/DownloadNAVHistoryReport_Po.aspx?mf=56&frmdt=19-Mar-2020&todt=19-Jun-2020'
    AMF_url = 'http://portal.amfiindia.com/DownloadNAVHistoryReport_Po.aspx?' + \
              'mf=' + \
              amc_code + \
              '&frmdt=' + \
              start + \
              '&todt=' + \
              end
            
    #print(AMF_url)
    #initialize Dataframe
    amc_hist_nav = pd.read_csv(AMF_url,sep=';')
    amc_hist_nav = amc_hist_nav.drop(['Repurchase Price','Sale Price'],axis=1)
    amc_hist_nav = amc_hist_nav[amc_hist_nav['Scheme Name'].notna()]
    amc_hist_nav = amc_hist_nav[amc_hist_nav['Scheme Code'].isin(MF_list)]
    return amc_hist_nav

In [104]:
#initialize Dataframe
hist_nav = pd.DataFrame()
hist_nav = get_nav_history('56','19-Mar-2020','19-Jun-2020',MF_list)
hist_nav.head()

,Scheme Code,Scheme Name,ISIN Div Payout/ISIN Growth,ISIN Div Reinvestment,Net Asset Value,Date
801,119807,L&T Mid Cap Fund-Direct Plan-Growth,INF917K01FZ1,NaN,106.20,19-Mar-2020
802,119807,L&T Mid Cap Fund-Direct Plan-Growth,INF917K01FZ1,NaN,110.48,20-Mar-2020
803,119807,L&T Mid Cap Fund-Direct Plan-Growth,INF917K01FZ1,NaN,97.70,23-Mar-2020
804,119807,L&T Mid Cap Fund-Direct Plan-Growth,INF917K01FZ1,NaN,97.82,24-Mar-2020
805,119807,L&T Mid Cap Fund-Direct Plan-Growth,INF917K01FZ1,NaN,100.64,25-Mar-2020

In [105]:
len(hist_nav)

61

In [99]:
hist_nav[hist_nav['Scheme Code'] == '119807']

,Scheme Code,Scheme Name,ISIN Div Payout/ISIN Growth,ISIN Div Reinvestment,Net Asset Value,Date
801,119807,L&T Mid Cap Fund-Direct Plan-Growth,INF917K01FZ1,NaN,106.20,19-Mar-2020
802,119807,L&T Mid Cap Fund-Direct Plan-Growth,INF917K01FZ1,NaN,110.48,20-Mar-2020
803,119807,L&T Mid Cap Fund-Direct Plan-Growth,INF917K01FZ1,NaN,97.70,23-Mar-2020
804,119807,L&T Mid Cap Fund-Direct Plan-Growth,INF917K01FZ1,NaN,97.82,24-Mar-2020
805,119807,L&T Mid Cap Fund-Direct Plan-Growth,INF917K01FZ1,NaN,100.64,25-Mar-2020
...,...,...,...,...,...,...
857,119807,L&T Mid Cap Fund-Direct Plan-Growth,INF917K01FZ1,NaN,121.67,15-Jun-2020
858,119807,L&T Mid Cap Fund-Direct Plan-Growth,INF917K01FZ1,NaN,121.89,16-Jun-2020
859,119807,L&T Mid Cap Fund-Direct Plan-Growth,INF917K01FZ1,NaN,122.40,17-Jun-2020
860,119807,L&T Mid Cap Fund-Direct Plan-Growth,INF917K01FZ1,NaN,123.59,18-Jun-2020
861,119807,L&T Mid Cap Fund-Direct Plan-Growth,INF917K01FZ1,NaN,125.10,19-Jun-2020

In [87]:
df = pd.read_csv('http://portal.amfiindia.com/DownloadNAVHistoryReport_Po.aspx?mf=56&frmdt=19-Mar-2020&todt=19-Jun-2020',sep=';')

In [88]:
df.head()

,Scheme Code,Scheme Name,ISIN Div Payout/ISIN Growth,ISIN Div Reinvestment,Net Asset Value,Repurchase Price,Sale Price,Date
0,Open Ended Schemes ( Equity Scheme - Multi Cap...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,L&T Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,119290,L&T Equity Fund-Direct Plan-Dividend,INF917K01FB2,INF917K01FA4,22.764,NaN,NaN,19-Mar-2020
3,119290,L&T Equity Fund-Direct Plan-Dividend,INF917K01FB2,INF917K01FA4,23.831,NaN,NaN,20-Mar-2020
4,119290,L&T Equity Fund-Direct Plan-Dividend,INF917K01FB2,INF917K01FA4,21.084,NaN,NaN,23-Mar-2020

In [89]:
df = df.drop(['Repurchase Price','Sale Price'],axis=1)

In [90]:
df.head()

,Scheme Code,Scheme Name,ISIN Div Payout/ISIN Growth,ISIN Div Reinvestment,Net Asset Value,Date
0,Open Ended Schemes ( Equity Scheme - Multi Cap...,NaN,NaN,NaN,NaN,NaN
1,L&T Mutual Fund,NaN,NaN,NaN,NaN,NaN
2,119290,L&T Equity Fund-Direct Plan-Dividend,INF917K01FB2,INF917K01FA4,22.764,19-Mar-2020
3,119290,L&T Equity Fund-Direct Plan-Dividend,INF917K01FB2,INF917K01FA4,23.831,20-Mar-2020
4,119290,L&T Equity Fund-Direct Plan-Dividend,INF917K01FB2,INF917K01FA4,21.084,23-Mar-2020

In [93]:
df[df['Scheme Name'].notna()]

,Scheme Code,Scheme Name,ISIN Div Payout/ISIN Growth,ISIN Div Reinvestment,Net Asset Value,Date
2,119290,L&T Equity Fund-Direct Plan-Dividend,INF917K01FB2,INF917K01FA4,22.764,19-Mar-2020
3,119290,L&T Equity Fund-Direct Plan-Dividend,INF917K01FB2,INF917K01FA4,23.831,20-Mar-2020
4,119290,L&T Equity Fund-Direct Plan-Dividend,INF917K01FB2,INF917K01FA4,21.084,23-Mar-2020
5,119290,L&T Equity Fund-Direct Plan-Dividend,INF917K01FB2,INF917K01FA4,21.338,24-Mar-2020
6,119290,L&T Equity Fund-Direct Plan-Dividend,INF917K01FB2,INF917K01FA4,22.246,25-Mar-2020
...,...,...,...,...,...,...
12235,143813,L&T Emerging Opportunities Fund-Series II-Regu...,INF917K01ZT2,INF917K01ZU0,9.359,15-Jun-2020
12236,143813,L&T Emerging Opportunities Fund-Series II-Regu...,INF917K01ZT2,INF917K01ZU0,9.353,16-Jun-2020
12237,143813,L&T Emerging Opportunities Fund-Series II-Regu...,INF917K01ZT2,INF917K01ZU0,9.411,17-Jun-2020
12238,143813,L&T Emerging Opportunities Fund-Series II-Regu...,INF917K01ZT2,INF917K01ZU0,9.483,18-Jun-2020
12239,143813,L&T Emerging Opportunities Fund-Series II-Regu...,INF917K01ZT2,INF917K01ZU0,9.708,19-Jun-2020